<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @blog.status %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @blog.profile.name %>
</p>

<p>
  <%= link_to 'Add Picture', new_blog_attachment_path(@blog), class: "btn btn-primary" %>
</p>

<h1>Add Picture</h1>
<%= render 'attachment' %>
<br><br>
<!-- loop through each of the attacghment for the bliog and display every image for that blog -->
<% @blog.attachments.each do |attachment| %>
      <%= image_tag(attachment.image_url) %>
<% end %>

<br><br>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
