<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @attachment.image %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @attachment.blog %>
</p>

<%= link_to 'Edit', edit_blog_attachment_path(@blog, @attachment) %> |
<%= link_to 'Back', blog_attachments_path %>
