<!-- navbar
  logo,search, profile button, notification, dicover people,
posts: @BLOGS
profile picture :@blog.profile.image
profile name
location
post , attachments : first
like,comment,
status
when it was updated -->

<% @blogs.each do |blog| %>
  <p><%= image_tag blog.profile.picture_url %></p>
  <p><%= blog.profile.name %></p>
  <p><%= blog.profile.location %></p>
  <p><%= image_tag blog.attachments.first.image_url %></p>
  <!-- <p>like</p> -->
  <% if current_user.profile %>
    <%= link_to like_blog_path(blog), method: :put %>
       <%= current_user.profile.voted_as_when_voted_for == true ? "like" : "unlike" %>
    <% end %>
  <% else %>
      "unlike"
  <% end %>
  <p>chat</p>
  <p><%= blog.status %></p>
  <p><%= blog.created_at.strftime("%d %h")%></p>
<% end %>
