<div class="posts-home">
  <% @blogs.each do |blog| %>
    <div id="<%= blog.id%>">
      <!-- after hitting a like return to this point -->
      <div class="card">
        <div class="profile-post">
              <%= image_tag(blog.profile.picture_url, class: "profile-post-pic") %>
          <div class="profile-post-content">
              <%= blog.profile.name %>
              <br>
              <%= blog.profile.location %>
          </div>
        </div>
      <div class="card-body">
        <%= image_tag(blog.attachments.first.image_url, class:"post-pic") %>
        <h6 class="card-title">
          <% if current_user %>
            <%= link_to like_blog_path(blog), method: :put ,remote: true do %>
              <%= current_user.voted_as_when_voted_for(blog) == true ? fa_icon("heart") : fa_icon("heart-o")%>
            <% end %>
          <% else %>
            <%= fa_icon("heart")  %>
          <% end %>
          <br>
        <%= blog.votes_for.size %> likes
      </h6>
        <div class="card-text">
          <%= blog.status %>
          <br>
          <%= render partial: blog.comments %>
          <span class="date"><%= blog.created_at.strftime("%d %h")%></span>
        </div>
        <div class="comment-home">
          <%= form_for([blog,Comment.new]) do |f| %>
            <%= f.text_field :body, placeholder: "Add a comment..."%>
            <!-- <br> -->
            <!-- <%= f.submit "Add comment" %> -->
          <% end %>
        </div>
            <!-- comments must be added here -->
      </div>
    </div>


    </div>
 <% end %>
</div>
