<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @buyer_seller.user %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @buyer_seller.seller %>
</p>

<%= link_to 'Edit', edit_buyer_seller_path(@buyer_seller) %> |
<%= link_to 'Back', buyer_sellers_path %>
